In [0]:
import pandas as pd
import pymssql

In [0]:
jdbcHostname = "54.245.193.229" #"54.245.193.229" 
jdbcDatabase = "DEV" #"KAGGLE" 
jdbcPort = "1433" #1433 
jdbcUsername = "sa"
jdbcPassword = "WindowsSQL-123"

In [0]:
Source_Table_Name = "emp"

In [0]:
def get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase):
    try:
        sql_connection = pymssql.connect(host=jdbcHostname,user=jdbcUsername,password=jdbcPassword,database=jdbcDatabase, as_dict=True, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymssql.OperationalError as e:
        print("connection failed")
    except:
        print("Unknown error occurred")
    else:
        return sql_connection

In [0]:
def display_data(sql_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(sql_disqry)
        sql_exec = cursor.fetchone()
        if len(sql_exec) > 0:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            #display(sql_data.loc[1])
            display(result)
        else:
            print("No Record")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_disqry ="(Select * from {})".format(Source_Table_Name)
display_data(sql_disqry, sql_conn)

empno,ename,job,mgr,hiredate,sal,comm,deptno
7499,ALLEN,SALESMAN,7698.0,1981-02-20,1600,300.0,30
7521,WARD,SALESMAN,7698.0,1981-02-22,1250,500.0,30
7560,vishal,analyst,7856.0,1994-06-27,15000,null,20
7566,JONES,MANAGER,7839.0,1981-02-04,2975,null,20
7654,MARTIN,SALESMAN,7698.0,1981-09-28,1250,1400.0,30
7698,BLAKE,MANAGER,7839.0,1981-01-05,2850,null,30
7782,CLARK,MANAGER,7839.0,1981-09-06,2450,null,10
7788,SCOTT,ANALYST,7566.0,1987-07-13,3000,null,20
7839,KING,PRESIDENT,null,1981-11-17,5000,null,10
7844,TURNER,SALESMAN,7698.0,1981-09-08,1500,0.0,30
7876,ADAMS,CLERK,7788.0,1987-07-13,1100,null,20
7900,JAMES,CLERK,7698.0,1981-12-03,950,null,30
7902,FORD,ANALYST,7566.0,1981-03-12,3000,null,20
7934,MILLER,CLERK,7782.0,1982-01-23,1300,null,10

In [0]:
def insert_data(sql_insqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_insqry)
        if cursor.rowcount:
            print(cursor.rowcount)
            print("Record Added")
        else:
            print(cursor.rowcount)
            print("Not Added")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_insqry = """INSERT INTO {}(empno, ename, job, mgr, hiredate, sal, deptno) VALUES (7560, 'jenish', 'analyst', 7856, '1994-06-27', 15000, 20)""".format(Source_Table_Name)
insert_data(sql_insqry, sql_conn)

1
Record Added

In [0]:
def update_data(sql_upqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_upqry)
        if cursor.rowcount:
            print(cursor.rowcount)
            print("Record Upadted")
        else:
            print(cursor.rowcount)
            print("Not Upadted")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_upqry = """UPDATE {} SET ename = 'vishal' WHERE empno = '7560' """.format(Source_Table_Name)
update_data(sql_upqry, sql_conn)

1
Record Upadted

In [0]:
def delete_data(sql_delqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_delqry)
        if cursor.rowcount:
            print(cursor.rowcount)
            print("Record Deleted")
        else:
            print(cursor.rowcount)
            print("Not Deleted")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_delqry = """DELETE FROM {} WHERE empno = '7560'""".format(Source_Table_Name)
delete_data(sql_delqry, sql_conn)

1
Record Deleted